<?xml version="1.0" ?>
<model>
    <name>robot_tank_floor</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Cloud Coppola</name>
        <email>clc20@aber.ac.uk</email>
    </author>
    <description>Floor for robot tank walls</description>
</model>
